{% comment %} {% extends "base.html" %}

{% block title %} Password reset {% endblock title %} 

{% block content %} {% endcomment %}
{% comment %} <div class="container py-5"> {% endcomment %}
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    
    <input type="submit" name="Update Password" value="Change my password" class="btn btn-primary">

</form>
{% comment %} </div>

{% endblock content %} {% endcomment %}



